/* ---------- ANIMATIONS ---------- */

@keyframes spin1 {  from {transform: rotate(35deg);} to {transform: rotate(45deg);} }
@keyframes spin2 {  from {transform: rotate(45deg);} to {transform: rotate(35deg);} }
@keyframes spin3 {  from {transform: rotate(0deg);} to {transform: rotate(-2deg);} }
@keyframes spin4 {  from {transform: rotate(-2deg);} to {transform: rotate(0deg);} }



/* ---------- GENERAL ---------- */

a {
    text-decoration: none;
}

body {
    background-color: black;
}

.picDiv {
  width: 200px;
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  border: 4px solid #fff;
  transform: rotate(45deg);
  float: left;
  margin: 0 0 1em 1em;
  
  animation: spin1 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  
}
  
  .picDiv:hover {
    animation: spin2 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }


#logo {
  width: 16em;
  margin: 2em 0 3em 0;
  
}

  #logo:hover {
    cursor: pointer;
  }

.menuText {
  color: #fff;
  opacity: 0.9;
  font-family: 'Audiowide', cursive;
  font-size: 1.5em; 
  font-weight: 100;
  
    animation: spin4 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
}

.menuText:hover {
    animation: spin3 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#menuTexts {
  display: none;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
}


