/* ---------- ANIMATIONS ---------- */

@keyframes spin1 {  from {transform: rotate(0deg);} to {transform: rotate(45deg);} }
@keyframes spin2 {  from {transform: rotate(45deg);} to {transform: rotate(0deg);} }
@keyframes spin3 {  from {transform: rotate(0deg);} to {transform: rotate(-3deg);} }
@keyframes spin4 {  from {transform: rotate(-3deg);} to {transform: rotate(0deg);} }



/* ---------- GENERAL ---------- */

a {
    text-decoration: none;
}

body {
    background-color: black;
}

#gallery {
  padding: 3.5em 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: scroll;
  margin-bottom: 8em;
}

.picDiv {
  flex: none;
  width: 150px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 4px solid #fff;
  transform: rotate(45deg);

  margin: 0 2.5em 2em 2.5em;
  
  animation: spin1 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  
}
  
  .picDiv:hover {
    animation: spin2 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }


#logo {
  width: 20em;
  margin: 2em 0 1em 0;
  
}

  #logo:hover {
    cursor: pointer;
  }

.menuText {
  color: #fff;
  font-family: 'Audiowide', cursive;
  font-size: 1.5em; 
  font-weight: 100;
  
    animation: spin4 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
}

.menuText:hover {
    animation: spin3 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#menuTexts {
  display: none;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
}

#footer {
  font-family: 'Audiowide', cursive;
  color: #fff;
  font-size: 0.6em;
  font-weight: 100;
}



#left {
  position: fixed;
  background-color: aqua;
  height: 100%;
  width: 150px;
  float: left;
}

#right {
  position: fixed;
  background-color: blueviolet;
  height: 100%;
  width: 150px;
  right: 0;
}
